@import '../abstracts/utils.scss';
@import '../abstracts/mixins.scss';

.educationCareer {
    padding-left: 4rem;

    @include respond(phone) { 
        padding-left: 2rem;
        padding-right: 1rem;
    }
}

.education::after,
.career::after {
    @include separatorAfter;
    margin-bottom: 3rem;
}

.experience {
    background-color: #F3EFE0;
    padding-bottom: 4rem;
}

