@import '../abstracts/utils.scss';
@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.footer {
    position: relative;
    background-color: #6b6b6e;
    padding-bottom: 4rem;

    @include respond(phone) { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
     }
}

.headingPrimaryMain {
    color: #ffffff;
    
}

.subtitle {
    color: #cdcdcd;
}

.jumbotron {
    min-height: 85vh;
}

.container {
    &::after {
        color: #cdcdcd;
    }
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4rem 2rem 4rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    @include respond(phone) { 
       -webkit-box-orient: vertical; 
       -webkit-box-direction: normal; 
           -ms-flex-direction: column; 
               flex-direction: column;
    }

    &Group {
        &::after {
            @include separatorAfter;
            color: #cdcdcd;
            margin: 0 4rem;
        }
    }

    &Links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 50%;
        margin-bottom: 2.5rem;
        text-decoration: none;

        @include respond(phone) { 
            width: 100%;
         }

        &:hover &Icon {
            fill: #ffffff;
        }

        &:hover &Txt {
            color: #ffffff;
        }

        &Icon {
            fill: #cdcdcd;
            height: 3rem;
            width: 3rem;
            margin-right: 2rem;
        }
    
        &Txt {
            color: #cdcdcd;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }
}

.likes {
    padding: 2rem 4rem;
    text-align: center;
}