@import '../abstracts/utils.scss';
@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.footer {
    background-color: #6b6b6e;
    padding-bottom: 4rem;

    @include respond(phone) { 
        flex-direction: column;
     }
}

.headingPrimaryMain {
    color: #ffffff;
    
}

.subtitle {
    color: #cdcdcd;
}

.jumbotron {
    min-height: 85vh;
}

.container {
    &::after {
        color: #cdcdcd;
    }
}

.contact {
    display: flex;
    padding: 0 4rem 2rem 4rem;
    flex-wrap: wrap;

    @include respond(phone) { 
       flex-direction: column;
    }

    &Group {
        &::after {
            @include separatorAfter;
            color: #cdcdcd;
            margin: 0 4rem;
        }
    }

    &Links {
        display: flex;
        align-items: center;
        width: 50%;
        margin-bottom: 2.5rem;
        text-decoration: none;

        @include respond(phone) { 
            width: 100%;
         }

        &:hover &Icon {
            fill: #ffffff;
        }

        &:hover &Txt {
            color: #ffffff;
        }

        &Icon {
            fill: #cdcdcd;
            height: 3rem;
            width: 3rem;
            margin-right: 2rem;
        }
    
        &Txt {
            color: #cdcdcd;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }
}

.likes {
    padding: 2rem 4rem;
    text-align: center;
}