@import '../abstracts/utils.scss';
@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';
@import '../vendors/animate.scss';

.jumbotron {
    margin: 0 12.5rem;
    max-width: 100%;

    @include respond(tab-port) { 
        margin: 0 14rem;
        text-align: center;
    }

    @include respond(phone) { 
        margin: 0 2rem;
        text-align: center;
    }
}

.interest {
    margin-bottom: 4rem;

    &PartOne {
        min-height: 75vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 4rem 0;

        @include respond(tab-port) { 
            margin: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    
        &Txt {
            width: 50%;
            padding-right: 4rem;
            -ms-flex-item-align: center;
                align-self: center;

            @include respond(tab-port) {
                padding-right: 0; 
                margin-top: -4rem;
                width: 100%;
            }
        }

        &Composition {
            position: relative;
            width: 50%;
            opacity: 0;
            -webkit-transition: opacity 1s;
            transition: opacity 1s;
            margin-top: 13%;

            @include respond(tab-land) { 
                margin-top: 35vh;
            }

            @include respond(tab-port) { 
                display: -webkit-box; 
                display: -ms-flexbox; 
                display: flex;
                -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                        align-items: baseline;
                margin: 5rem auto 2rem auto;
                width: 90%;
            }

            &Pic {
                width: 55%;
                -webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
                        box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
                position: absolute;
                z-index: 10;
                -webkit-transition: all .3s;
                transition: all .3s;
                outline-offset: 2rem;

                @include respond(tab-port) {
                    width: 33%; 
                    position: unset;
                }

                &:hover {
                    
                    -webkit-transform: scale(1.05) translateY(-.5rem);
                    
                            transform: scale(1.05) translateY(-.5rem);
                    -webkit-box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                            box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                    z-index: 20;
                }
            }

            &:hover &Pic:not(:hover) {
                -webkit-transform: scale(.95);
                        transform: scale(.95);
            }
        }
    }

    &PartTwo {
        min-height: 75vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 4rem 0;

        @include respond(tab-port) { 
            margin: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    
        &Composition {
            position: relative;
            width: 50%;
            opacity: 0;
            -webkit-transition: opacity 1s;
            transition: opacity 1s;
            margin-top: 10%;

            @include respond(tab-land) { 
                margin-top: 35vh;
            }

            @include respond(tab-port) { 
                display: -webkit-box; 
                display: -ms-flexbox; 
                display: flex;
                -ms-flex-line-pack: justify;
                    align-content: space-between;
                margin: 3.5rem auto;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                width: 90%;
            }

            &Pic {
                width: 55%;
                -webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
                        box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
                position: absolute;
                z-index: 10;
                -webkit-transition: all .3s;
                transition: all .3s;
                outline-offset: 2rem;

                @include respond(tab-port) {
                    width: 33%; 
                    position: unset;
                }

                &:hover {
                    
                    -webkit-transform: scale(1.05) translateY(-.5rem);
                    
                            transform: scale(1.05) translateY(-.5rem);
                    -webkit-box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                            box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                    z-index: 20;
                }
            }

            &:hover &Pic:not(:hover) {
                -webkit-transform: scale(.90);
                        transform: scale(.90);
            }
        }

        &Txt {
            width: 50%;
            padding-left: 4rem;
            -ms-flex-item-align: center;
                align-self: center;

            @include respond(tab-port) { 
                -webkit-box-ordinal-group: 1; 
                    -ms-flex-order: 0; 
                        order: 0;
                width: 100%;
                padding-left: 0;
            }
        }
    }
}


#p1 {
    left: 0;
    top: -2rem;

    @include respond(phone) { 
        left: -3rem;
    }

    &:hover {
        outline: 1.5rem solid #E60012;
    }
}

#p2 {
    right: 0;
    top: 2rem;

    @include respond(phone) { 
        right: -3rem;
        top: 3rem;
    }

    &:hover {
        outline: 1.5rem solid #f7dd4c;
    }
}

#p3 {
    left: 20%;
    top: 15rem;

    @include respond(phone) { 
        top: 11.3rem;
    }

    &:hover {
        outline: 1.5rem solid $color-primary-light;
    }
}

#p4 {
    // height: 60%;
    // width: 50%;
    left: 0;
    top: -2rem;

    &:hover {
        outline: 1.5rem solid #E60012;
    }

    @include respond(phone) {
        left: -4rem;
    }
}

#p5 {
    // height: 50%;
    // width: 70%;
    right: 0;
    top: 2rem;

    @include respond(phone) {
        right: -4.5rem; 
        top: 2rem;
    }

    &:hover {
        outline: 1.5rem solid #f7dd4c;
    }
}

#p6 {
    // height: 60%;
    // width: 60%;
    left: 13%;
    top: 15rem;

    @include respond(phone) { 
        left: 0%;
        top: 7.3rem;
    }

    &:hover {
        outline: 1.5rem solid $color-primary-light;
    }
}

.jsWp {
    opacity: 1;
}