@import '../abstracts/mixins.scss';

.navbar  {
    position: fixed;
    // top: 90%;
    right: 2%;
    z-index: 99;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-land) { 
        display: none;
    }
    

    &List {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        // height: 100vh;
        margin-top: 33vh;
        position: relative;

        list-style: none;
        color: black;
        font-size: 1.5rem;
        font-weight: 400;
        // flex-grow: 1;

        &::before {
            content: "";
            // display: inline;
            position: absolute;
            top: 3%;
            left: 0;
            height: 95%;
            width: .9rem;
            background-color: #E60012;
            margin: 0 1rem 0 0 ;
            opacity: 0.3;
        }
        

        &Item {
            cursor: pointer;
            z-index: 99;
        
            &:hover,
            &Active {
                color: #E60012;
                font-weight: 700;
                // &::before {
                //     content: "";
                //     display: inline-block;
                //     height: 1.3rem;
                //     width: .9rem;
                //     background-color: currentColor;
                //     margin: 0 -1rem 0 0 ;
                //     opacity: 0.3;
                // }
            }

            &Bottom,
            &Up {
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
            }

            &CircleUp {
                margin-left: 1rem;
                margin-bottom: 1rem;
                list-style: none;
            }
        }
    }
}

.circleUp {
    height: 3.3rem;
    width: 3.3rem;
    // margin-left: 2rem;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
    fill: #E60012;
    opacity: .7;

    &:hover {
        opacity: .9;
    }
}

// .circleUp {
//     fill: $color-primary-light;

// }

// .circleDown {
//     fill: #ddd;
// }