@import '../abstracts/utils.scss';
@import '../abstracts/mixins.scss';
@import '../vendors/animate.scss';
@import '../abstracts/variables.scss';

.jumbotron {
    min-height: 0;
}
.projects {
    background-color: #F3EFE0;
    padding-bottom: 4rem;
    
    
    &Cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        // transform: translateX(-6.6rem);
        @include respond(phone) { 
            width: 96%;
        }
    }

    &Card {
        position: relative;
        height: 29rem;
        width: 42rem;
        margin: 1.8rem 1.8rem 3.6rem 1.8rem ;
        // transform: translateX(-10vw);
        overflow: hidden;
        -webkit-transition: all .4s;
        transition: all .4s;

        @include respond(tab-land) { 
            height: 35rem;
            width: 56rem;
        }

        // @include respond(tab-port) { 
        //     transform: translateX(6.6rem);
        //     height: 32rem;
        //     width: 45rem;
        // }

        @include respond(phone) { 
            height: 22rem;
            width: 30rem;
        }

        // &Links {
        //     width: 29rem;
        // }

        &BgImg {
            height: 100%;
            background-size: cover;
            background-position: center;
            -webkit-transform: translateX(-3rem);
                    transform: translateX(-3rem);
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            -webkit-transition: all .4s;
            transition: all .4s;
        }

        &Icon {
            fill: #fff;
            height: 4rem;
            width: 4rem;
            position: absolute; 
            top: 0;
            right: 0;
            opacity: 0;
        }

        
        &Figcaption {
            position: absolute;
            top: 4rem;
            left: 3rem;
            color: #fff;
            width: 100%;
            opacity: 0;

            &Title {
                font-size: 4rem;
                font-weight: 200;

                &::after {
                    content: "";
                    height: 1px;
                    width: 40%;
                    display: block;
                    background-color: currentColor;
                    margin: -.5rem 0 .5rem 0;
                    -webkit-transition: width .4s;
                    transition: width .4s;
                }
            }
            
            &Details {
                -webkit-transition: opacity .4s;
                transition: opacity .4s;
                font-weight: bold;

                &Desc,
                &Tags {
                    font-weight: 200;
                }
            }
        }

        &:hover &Icon {
            opacity: 1;
            -webkit-animation: flash .8s;
                    animation: flash .8s;
        }

        &:hover &BgImg {
            -webkit-transform: translateX(-2rem);
                    transform: translateX(-2rem);
            -webkit-transition: all .4s;
            transition: all .4s;
            -webkit-filter: brightness(20%) blur(1px);
                    filter: brightness(20%) blur(1px);
        }

        &:hover &Figcaption {
            opacity: 1;
            z-index: 100;
        }

        &:hover &FigcaptionTitle::after {
            width: 80%;
        }

        &:hover &FigcaptionDetails {
            -webkit-animation: bounceInRight .4s;
                    animation: bounceInRight .4s;
            -webkit-transition: all .4s;
            transition: all .4s;
        }
    }
} 

.projectsTwo {
    &First,
    &Second,
    &Third {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        // transform: translateX(4.6rem);


        @include respond(tab-land) { 
            -webkit-box-orient: vertical; 
            -webkit-box-direction: normal; 
                -ms-flex-direction: column; 
                    flex-direction: column;
        }
    }
}

.jsWp1 {
    opacity: 1;
    -webkit-animation: fadeInUp 1s;
            animation: fadeInUp 1s;
}

.jsWp2 {
    opacity: 1;
}