@mixin absCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

@mixin absCenterTop {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin separatorAfter {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
    margin: 1.1rem 0 1.7rem 0;
    opacity: 0.3;
    margin-top: 3rem;
}

.separationTitle {
    background-color: #f6f6f6;
    font-weight: 300;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

