@import './variables.scss';
@import './mixins.scss';

.headingPrimary {
    &Main {
        color: $color-primary-light;
        font-size: 5rem;
        font-weight: 300;

        @include respond(phone) { 
            font-size: 4rem;
        }
    }

    &Sub {
        color: $color-primary-light;
        font-size: 3rem;
        font-weight:300;
        margin-bottom: 2rem;

        @include respond(phone) { 
            font-size: 2rem;
        }
    }
}

p {
    font-size: 1.5rem;
}

.jumbotron {
    margin: auto;
    max-width: 65%;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    @include respond(tab-land) { 
        max-width: 75%;
    }

    @include respond(tab-port) { 
        max-width: 85%;
    }

    @include respond(phone) { 
        max-width: 95%;
    }
}

.container {
    text-align: center;
    padding: 2rem 4rem;
    
    &::after {
        @include separatorAfter;
    }
}

.subtitle {
    color: #727878;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    max-width: 100%;

    @include respond(phone) { 
        font-size: 1.5rem;
    }
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 1rem;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    
}

blockquote:before {
    content: "\201C";
    font-size: 200%;
    display: block;
    position: absolute;
    top: 1rem;
    left: .9rem;

    @include respond(tab-port) { 
        font-size: 185%;
        top: .65rem;
        left: .7rem;
    }

    @include respond(phone) { 
        top: .1rem;
        left: .2rem;
    }
}