@import './variables.scss';
@import './mixins.scss';

.headingPrimaryMain {
    color: $color-primary-light;
    font-size: 5rem;
    font-weight: 300;
}

.headingPrimarySub {
    color: $color-primary-light;
    font-size: 3rem;
    font-weight:300;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
}

.jumbotron {
    margin: auto;
    max-width: 65%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 2rem 4rem;
    &::after {
        @include separatorAfter;
    }
}

.subtitle {
    color: #727878;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 1rem;
    position: relative;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

blockquote:before {
    content: "\201C";
    font-size: 200%;
    display: block;
    position: absolute;
    top: 1rem;
    left: .9rem;
}