@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.header {
    position: relative;
}

.headerBgImg {
    height: 100vh;
    background-image: -webkit-gradient(
        linear, 
        left top, right bottom, 
        from(rgba($color-primary-dark, 0.4)), 
        to(rgba($color-primary-dark, 0.4))),
        url(../../img/banner.png);
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-dark, 0.4), 
        rgba($color-primary-dark, 0.4)),
        url(../../img/banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headerLogoBox {
    position: absolute;
    top: 10%;
    left: 3%;
}

.headerLogo {
    height: 7rem;
    width: 7rem;

    @include respond(phone) { 
        height: 5rem;
        width: 5rem;
    }
}

.container {
    @include absCenterTop;
    color: white;
    cursor: pointer;
}

.headerTitle {
    font-size: 5rem;
    font-weight: 400;

    @include respond(phone) { 
        font-size: 4rem;
    }
    

    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
        margin: 1.1rem 0 1.7rem 0;
        opacity: 0.3;
    }
}

.headerSubtitle {
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0.85;

    @include respond(phone) { 
        font-size: 2rem;
    }
}

