@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.header {
    


}

.headerBgImg {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba($color-primary-light, 0.5)), to($color-primary-dark, 0.5)), url(../../img/banner.png);
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-dark, 0.4), 
        rgba($color-primary-dark, 0.4)),
        url(../../img/banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar  {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 99;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;

    &Active {
        color: #E60012;
        font-weight: 700;
    }
}

.headerLogoBox {
    position: absolute;
    top: 10%;
    left: 3%;
}

.headerLogo {
    height: 7rem;
    width: 7rem;
}

.container {
    @include absCenterTop;
    color: white;
}

.headerTitle {
    font-size: 5rem;
    font-weight: 700;
    

    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
        margin: 1.1rem 0 1.7rem 0;
        opacity: 0.3;
    }
}

.headerSubtitle {
    font-size: 2.5rem;
    font-weight: 200;
    opacity: 0.85;
}

