@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

*,
*::before,
*::after {
    margin : 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    font-family: Lato;
    font-size: 62.5%; //this defines what 1rem is (10px)
    
    @include respond(tab-land) { 
        font-size: 56.25%; //1rem=9px
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem=8px
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem=12px
    }
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.7;

    // @include respond(tab-port) {
    //     padding: 0;
    // }
    
    ::selection {
        background-color: $color-primary-light;
        color: white;
    } 
}
