@import '../vendors/animate.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.ability {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @include respond(phone) { 
        width: 65%;
        margin: 0 auto;
    }

    &:hover {
        background-color: #F2F2F2;
    }

    &:hover &StarsScale .starEmpty,
    &:hover &StarsScale .starFull {
        margin-left: 4.5px;
    }

    &:hover &StarsPulse{
        -webkit-animation: pulse 1s;
                animation: pulse 1s;
    }
}

.starFull,
.starEmpty {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 2px;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.starFull {
    fill: $color-primary-light;

}

.starEmpty {
    fill: #ddd;
}

span {
    color: #a7a5a5;
    font-size: 1.3rem;
}