.experience {

    &Piece {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 3rem;
    }

    &LocationDate {
        min-width: 40%;
        padding-right: 2rem;
    }

    &PurposeDescription {
        min-width: 60%;
    }

    &Location {
        margin-bottom: .7rem;
    }

    &Purpose {
        margin-bottom: .7rem;
    }
}